body{background-color: #e7e7e7;}
h1{
    color: navy;
    font-size: 25px;
    font-weight: medium;
}
h2{
    color: red;
    font-size: 20px;
    font-weight: 500;
}
p{
    color: #77eeee;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 14px;
}
img{border: 3px dotted blue;}

.menu ul{
    display: flex;
    width: 100%;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}
.menu a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

table td.content table td:nth-child(4) img{
    width: 160px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: red;
}
ul>li:nth-child(1){font-variant: small-caps;}
ol>li{font-variant: normal;}
ol>li:nth-child(1){font-weight: 100;}
ol>li:nth-child(2){font-weight: 300;}
ol>li:nth-child(3){font-size: 15px;}
ol>li:nth-child(4){font-size: 20px;}
ol>li:nth-child(5){color: #7777ee}
ul>li:nth-child(2){color: rgba(15, 75, 44, .2)}
ul>li:nth-child(3){font: italic normal 700 15px "Roboto"}