@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:wght@300&display=swap');
@import url(https://allfont.ru/allfont.css?fonts=outlaw-);
p:nth-child(1){
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    font-size: x-small;
    color: #ff0000
}
p:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: medium;
    color: rgb(0, 255, 0)
}
p:nth-child(3){
    font-family: 'Roboto Mono', monospace;
    font-style: oblique;
    font-size: xx-large;
    color: blue;
}
p:nth-child(4){
    font-family: cursive;
    font-weight: 100;
    font-size: 12px;
    color: hsl(56, 100%, 49%)
}
p:nth-child(5){
    font-family: fantasy;
    font-weight: 900;
    font-size: 150%;
}